<header>
    <a href="javascript:void(0);" tap="app.goback" class="return"><img src="images/return.png" alt="" /></a>
    结算记录
    </header>
<div class="title-header">
    <input type="text" class="date" value="{{=it.beginDate}}" id="txtBalanceBeginDate" />
    至
    <input type="text" class="date" value="{{=it.endDate}}" id="txtBalanceEndDate" />
    <span class="qry_btn"><a href="javascript:void(0);" tap="show">查询</a></span>
</div>
<div class="content financeContent">
    <ul class="scroller detail" id="dList">
    </ul>
</div>
