<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta http-equiv="pragma" content="no-cache"> 
    <meta http-equiv="cache-control" content="no-cache"> 
    <meta http-equiv="expires" content="-1"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
	<meta name="apple-mobile-web-app-title" content="乐多分">
    
    <title>结算记录</title>

    <link href="css/Global.css" rel="stylesheet" />
    <link href="css/eleoooMobile.css" rel="stylesheet" />

</head>
<body>
<div>
    <header>
    <a href="#" class="return"></a>
    结算记录
    </header>
    <div class="title-header">
        <div class="th-int">2013-03-18 至 2013-03-18</div> 
     </div>
    <div class="content">
      <ul class="detail">
        <li><span>结算日期：</span>2013-04-02       </li>
        <li><span>结算金额：</span>382.00        </li>
      </ul>
</div>
</div>
    <footer>
    	<a href="#"><span class="order">订单</span></a>
    	<a href="#"><span class="menu">菜单</span></a>
    	<a href="#"><span class="sale">促销</span> </a>
    	<a href="#"><span class="service">客服 </span></a>
    	<a href="#" class="nav_on"><span class="finance">财务</span></a>
    </footer>
</body>
</html>
