<header>
    <div class="deal_btn"><a href="javascript:void(0)" tap="app.showBalance">结算记录</a></div>
    收支明细
    </header>
<div class="title-header">
    <div class="th-int">
        <input type="text" class="date" value="{{=it.beginDate}}" id="txtDetailBeginDate" />
        至
        <input type="text" class="date" value="{{=it.endDate}}" id="txtDetailEndDate" />
        <span class="qry_btn"><a href="javascript:void(0);" tap="show">查询</a></span>
    </div>
</div>
<div class="content financeContent">
    <ul class="scroller detail" id="fList">
    </ul>
</div>
