<li>本店账号：<input type="text" class="input" value="{{=it.p}}" id="txtPhone" /></li>
<li class="open_time">营业时间：<input type="text" class="input" value="{{=it.CompanyWorkTime}}" style="width: 120px;" id="txtWorkingTime" />
    <a href="javascript:void(0);">
        <img src="images/add.png" alt="" align="absmiddle" tap="addWorkingtime" /></a></li>
<li>送餐费用：<input type="number" class="input" value="{{=it.ServiceSum}}" id="txtServiceSum" /></li>
<li>起送金额：<input type="number" class="input" value="{{=it.OnSetSum}}" id="txtOnSetSum" /></li>
<li>高峰时段：<input type="text" class="input" value="{{=it.CompanyProvince || ''}}" id="txtCompanyProvince" /></li>
<li>峰值单量：<input type="number" class="input" value="{{=it.OrderMaxAmount}}" id="txtOrderMaxAmount" /></li>
<li>修改密码：<input type="password" class="input" value="" id="p1" /></li>
<li>确认密码：<input type="password" class="input" value="" id="p2" /></li>
<li class="link">当前状态：<img src="images/{{=(it.IsSuspend?'off':'on')}}.png" alt="" tap="changeStatus" /></li>
<li class="link">
    <div class="d_right">
        {{=it.Area}}第<span class="price">{{=it.Ranking1}}</span>名</div>
    本店人气：<span class="price">{{=it.Amount}}</span></li>
<li class="link">
    <div class="d_right">
        {{=it.Area}}第<span class="price"></span>名</div>
    送餐速度：<span class="price"></span></li>
<li>
    <input type="button" class="btn green" value="保存" tap="saveMyInfo" /></li>
<li style="line-height: 10px; border-bottom: 0px;"></li>