<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="乐多分" />
    <title>餐厅信息</title>
    <link href="../css/Global.css" rel="stylesheet" />
    <link href="../css/eleoooMobile.css" rel="stylesheet" />
    <script src="../src/lib/zepto.js" type="text/javascript"></script>
</head>
<body>
    <header>
            <div class="deal_btn"><a href="javascript:void(0);" tap="app.logout">退出登录</a></div>
            <a href="javascript:void(0);" class="return" tap="app.closeDlg"></a>餐厅信息
    </header>
    <div>
        <div class="wrap">
            <ul class="detail rush">
                <li>本店账号：<input type="text" class="input" value="13926503226" /></li>
                <li class="open_time">营业时间：<input type="text" class="input" value="10:30-14:00" style="width: 120px;" />
                    <a href="#">
                        <img src="../images/add.png" alt="" align="absmiddle" /></a></li>
                <li>起送金额：<input type="text" class="input" value="15.00" /></li>
                <li>登录密码：<input type="password" class="input" value="8645777" /></li>
                <li class="link">当前状态：<img src="../images/on.png" alt="" id="imgStatus" /></li>
                <li class="link">
                    <div class="d_right">
                        华强北第<span class="price">16</span>名</div>
                    本店人气：<span class="price">1296</span></li>
                <li class="link">
                    <div class="d_right">
                        华强北第<span class="price">16</span>名</div>
                    送餐速度：<span class="price">36</span></li>
                <li>
                    <input type="button" class="btn green" value="保存" /></li>
            </ul>
        </div>
    </div>
    <footer>
    	<a href="#"><span class="order">订单</span></a>
    	<a href="#"><span class="menu">菜单</span></a>
    	<a href="#" class="nav_on"><span class="sale">促销</span> </a>
    	<a href="#"><span class="service">客服 </span></a>
    	<a href="#"><span class="finance">财务</span></a>
    </footer>
</body>
</html>
