<header>
    <div class="deal_btn" tap="app.showHall"><a href="javascript:void(0);" >餐厅信息</a></div>
    会员点评
    </header>
<div class="title-header">
    <div class="th-int">
        <input type="text" class="date" value="{{=it.beginDate}}" id="txtBeginReviewDate" />
        至
        <input type="text" class="date" value="{{=it.endDate}}" id="txtEndReviewDate" />
        <span class="qry_btn"><a href="javascript:void(0);" tap="showReview">查询</a></span>
    </div>
</div>
<div class="rw_number" id="rw_number">
    好评：<i>0</i>中评：<i>0</i>差评：<i>0</i></div>
<div class="content reviewContent">
    <!--已回复-->
    <ul class="scroller reviewList" id="reviewList">
    </ul>
</div>
