<header>
    <a href="javascript:void();" tap="app.closeDlg" class="return"></a>
    抢购记录
    </header>
<div class="title-header">
    <input type="text" value="{{=it.beginDate}}" id="txtRushRecordBeginDate" />
    至
    <input type="text" value="{{=it.endDate}}" id="txtRushRecordEndDate" />
    <span class="qry_btn"><a href="javascript:void(0);" tap="showRushList">查询</a></span>
</div>
<div class="content" style="padding: 85px 0 90px 0">
    <ul class="rush_record" id="rushList">

    </ul>
    <div class="state">
        数量总计：<span class="price" id="amountSum">0</span> 积分收入：<span class="price" id="pointSum">0.00</span>
    </div>
</div>
