<header>
    <a href="javascript:void(0)" class="return" tap="app.closeDlg"></a>
    抢购条件
    </header>
<div class="wrap">
    <ul class="detail rush">
        <li>积分兑换：<input class="input" type="number" id="ItemPoint" t="dec" /></li>
        <li>现金支付：<input class="input" type="number" id="ItemNeedPay" t="dec" /></li>
        <li>投放数量：<input type="number" class="input" value="" id="ItemAmount" t="int" /></li>
        <li>消费频率：<input type="number" class="input" value="" id="OrderFreqLimit" t="int" /></li>
        <li>单次金额：<input type="number" class="input" value="" id="OrderSumLimit" t="dec" /></li>
        <li>投放周期：<input type="text" class="input" value="" id="ItemDate" />至<input type="text" class="input" value="" id="ItemEndDate" /></li>
        <li>促销时段：<input class="input" type="text"></li>
        <li class="link">抢购次数：<input name="ItemLimit" type="checkbox" value="3" />每天限一次<input name="ItemLimit" type="checkbox" value="2" />本期限一次</li>
        <li>上传图片：<a href="javascript:void(0)" tap="takeaPic"><img src="images/camera.png" alt="" /></a>
            <img src="" alt="" id="ItemPic" />
        </li>
        <li>
            <input type="button" class="btn green" value="提交" tap="saveItem" /></li>
    </ul>
</div>
