<header>
    <a href="javascript:void(0)" class="return" tap="app.goback"><img src="images/return.png" alt="" /></a>
    抢购条件
    </header>
<div class="wrap rushwrap">
    <ul class="scroller detail rush">
        <li><label>积分支付：</label><input class="input" type="number" id="ItemPoint" t="dec" /></li>
        <li><label>现金支付：</label><input class="input" type="number" id="ItemNeedPay" t="dec" /></li>
        <li><label>投放数量：</label><input type="number" class="input" id="ItemAmount" t="int" placeholder="/天" /></li>
        <li><label>消费频率：</label><input type="number" class="input" id="OrderFreqLimit" t="int" placeholder="上两周订餐次数"/></li>
        <li><label>消费层次：</label><input type="number" class="input" id="OrderSumLimit" t="dec" placeholder="过往平均订餐金额" /></li>
        <li><label>投放周期：</label><input type="text" class="input" value="" id="ItemDate" /></li>
        <li><label>至：</label><input type="text" class="input" value="" id="ItemEndDate" /></li>
        <li><label>促销时段：</label><input class="input" type="text" id="WorkingHours" /></li>
        <li class="link"><label>抢购次数：</label><input name="ItemLimit" type="radio" value="3" />每天限一次<input
            name="ItemLimit" type="radio" value="2" />本期限一次</li>
        <li><label>上传图片：</label><a href="javascript:void(0)" tap="takeaPic"><img src="images/camera.png"
            alt="" /></a>
            <img src="" alt="" id="ItemPic" style='width: 120px; height: 120px' />
        </li>
        <li>
            <input type="button" class="btn green" value="提交" tap="saveItem" /></li>
        <li style="line-height: 10px; border-bottom: 0px;"></li>
    </ul>
</div>
