<header>
    <a href="javascript:void();" tap="app.goback" class="return">&nbsp;&nbsp;</a>
    抢购记录
    </header>
<div class="title-header">
    <input type="text" class="date" value="{{=it.beginDate}}" id="txtRushRecordBeginDate" />
    至
    <input type="text" class="date" value="{{=it.endDate}}" id="txtRushRecordEndDate" />
    <span class="qry_btn"><a href="javascript:void(0);" tap="showRushList">查询</a></span>
</div>
<div class="content orderList">
    <ul class="scroller rush_record" id="rushList">

    </ul>
</div>
<div class="state">
    已抢购：<span class="price" id="amountSum">0</span> 收入总计：<span class="price" id="pointSum">0.00</span>
</div>
