<header>
    <a href="javascript:void();" tap="app.closeDlg" class="return"></a>
    促销列表
    <div class="deal_btn"><a href="javascript:void(0);" tap="app.showRushRecordView">抢购记录</a></div>
    </header>
<div class="title-header">
    <input type="text" value="{{=it.beginDate}}" id="txtSaleListBeginDate" />
    至
    <input type="text" value="{{=it.endDate}}" id="txtSaleListEndDate" />
    <span class="qry_btn"><a href="javascript:void(0);" tap="showSaleList">查询</a></span>
</div>
<div class="content">
    <ul class="slist" id="saleList">

    </ul>
</div>
