<li id="_{{=it.ItemID}}">
    <p class="ps1">
        <a href="javascript:void(0);">NO.{{=it.Row}}</a>{{=it.ItemDate}} 至 {{=it.ItemEndDate}}</p>
    <p class="ps2">
        {{=it.ItemTitle}}
    </p>
    <p class="ps3">
        <span class="t_red">{{=it.ItemStatus}}</span> <span class="ps_right">
            <input name="" type="button" value="修改" class="yellow" data-id="{{=it.ItemID}}" tap="showRush" />
            <input name="" type="button" value="删除" class="red" data-id="{{=it.ItemID}}" tap="delItem" />
        </span>
    </p>
</li>
