<li id="_{{=it.ItemID}}">
    <p class="ps1">
        <a href="javascript:void(0);">NO.{{=it.Row}}</a>{{=it.ItemDate}} 至 {{=it.ItemEndDate}}</p>
    <p class="ps2">
        {{=it.ItemTitle}}
    </p>
    <p class="ps3">
        <span class="{{=it.ItemStatus == 'True'?'t_green':'t_red'}}" data-status="{{=it.ItemStatus.toLowerCase()}}" data-id="{{=it.ItemID}}" tap="chgStatus">{{=it.ItemStatus == 'True'?'正常':'停止'}}</span> <span class="ps_right">
            <input type="button" value="修改" class="yellow" data-id="{{=it.ItemID}}" tap="showRush" />
            <input type="button" value="删除" class="red" data-id="{{=it.ItemID}}" tap="delItem" />
        </span>
    </p>
</li>
