<header>
    <a href="javascript:void(0);" tap="app.goback" class="return"></a>
    送餐进度
</header>
<div class="title-header2">
    <img src="images/user.png" alt="" align="absmiddle" />
    <span id="phone"></span>
    <img src="images/clock.png" alt="" style="margin-left: 20px;" />
    <span id="timespan"></span>
</div>
<div class="content">
    <ul class="temp" id="tempContainer">
    </ul>
    <ul class="temp_review" id="temp_review">
        <li><a href="javascript:void(0)" tap="quickSend">
            <input name="" type="radio" />您好，已经送出去了，很快就到^_^</a></li>
        <li><a href="javascript:void(0)" tap="quickSend">
            <input name="" type="radio" />您好，现在是高峰期，请耐心等一下^_^</a></li>
    </ul>
    <div class="rw_footer">
        <a href="javascript:void(0)" id="key">
            <img src="images/key.png" alt="" /></a> <a href="javascript:void(0)" id="recordVoice">
                <img src="images/voice.png" alt="" /></a>
        <input name="" type="text" class="input" id="txtMessage" />
        <a href="javascript:void(0)" id="face">
            <img src="images/face.png" alt="" /></a> <a href="javascript:void(0)">
                <img src="images/add.png" alt="" tap="sendMessage" /></a>
    </div>
</div>
