{{for(var i = 0;i<it.temps.length;i++){}}
{{var item = it.temps[i];}}
{{if(item.type==1){}}
<li class="guest">
    <time>{{=item.time}}</time>
    <span>{{=(item.voice && (item.isplay === 0))?'<i></i>':''}}<em></em>
    {{if(item.voice){}}
        <img src="images/voice2.png" alt="" align="middle" tempid="{{=item.id}}" voice="{{=item.voice}}" tap="playVoice"/>
    {{}}}
    {{=item.desc}}</span>
</li>
{{}else{}}
<li class="shop">
    <time>{{=item.time}}</time>
    <span>{{=(item.voice && (item.isplay === 0))?'<i></i>':''}}<em></em>
    {{if(item.voice){}}
        <img src="images/voice2.png" alt="" align="middle" tempid="{{=item.id}}" voice="{{=item.voice}}" tap="playVoice"/>
    {{}}}
    {{=item.desc}}</span>
</li>
{{}}}
{{}}}